tools/fixSyntax
tools/fixHeadings
tools/fixLinks
tools/fixLinkComments
tools/preHTMLTidy
*.doctree
*.pickle
*.exe
*.depend
*.layout
*/obj/*
*.save
sphinx/build/*
tools/*/*.exe
tools/OSBMSplitter/obj/*
tools/OSBMSplitter/bin/*
